<section>
  <div class="container">
    <div class="mainContentAside">
      <div
        class="carousel-container"
        (mouseover)="showControls(true)"
        (mouseleave)="showControls(false)"
      >
        <div class="carousel">
          <div
            class="carousel-item"
            *ngFor="let slide of slides; let i = index"
            [class.active]="i === currentSlide"
          >
            <img
              [src]="slide.src"
              alt="{{ slide.title }}"
              class="d-block w-100"
            />
          </div>
          <button
            class="carousel-control prev"
            (click)="prevSlide()"
            [ngClass]="{ show: isControlShow }"
          >
            &#10094;
          </button>
          <button
            class="carousel-control next"
            (click)="nextSlide()"
            [ngClass]="{ show: isControlShow }"
          >
            &#10095;
          </button>
        </div>
      </div>
      <aside class="scrollContent">
        <div class="model">
          <h1>Model S</h1>
          <div class="infoModel">
            <div class="range">
              <h3>402mi</h3>
              <p>Range(EPA est.)</p>
            </div>
            <div class="topSpeed">
              <h3>130mph</h3>
              <p>Top Speed</p>
            </div>
            <div class="mph">
              <h3>3.1sc</h3>
              <p>0-60mph</p>
            </div>
          </div>
        </div>
        <div class="tabs">
          <button
            class="buttonTab"
            [ngClass]="{ active: activeTab === 'Cash' }"
            (click)="openTab('Cash')"
          >
            Cash
          </button>
          <button
            class="buttonTab"
            [ngClass]="{ active: activeTab === 'Lease' }"
            (click)="openTab('Lease')"
          >
            Lease
          </button>
          <button
            class="buttonTab"
            [ngClass]="{ active: activeTab === 'Finance' }"
            (click)="openTab('Finance')"
          >
            Finance
          </button>
        </div>
        <div id="cash" class="tab" *ngIf="activeTab === 'Cash'">
          <div
            class="allWheelDrive"
            [ngClass]="{ active: activeTabOption === 'allWheelDrive' }"
            (click)="openTabOption('allWheelDrive')"
          >
            <p>All-Wheel Drive</p>
            <p>$68,490</p>
          </div>
          <div
            class="plaid"
            [ngClass]="{ active: activeTabOption === 'plaid' }"
            (click)="openTabOption('plaid')"
          >
            <p>Plaid</p>
            <p>$83,490</p>
          </div>
        </div>
        <div id="lease" class="tab" *ngIf="activeTab === 'Lease'">
          <div
            class="allWheelDrive"
            [ngClass]="{ active: activeTabOption === 'allWheelDrive' }"
            (click)="openTabOption('allWheelDrive')"
          >
            <p>All-Wheel Drive</p>
            <p>$1,031 /mo</p>
          </div>
          <div
            class="plaid"
            [ngClass]="{ active: activeTabOption === 'plaid' }"
            (click)="openTabOption('plaid')"
          >
            <p>Plaid</p>
            <p>$1,281 /mo</p>
          </div>
        </div>
        <div id="finance" class="tab" *ngIf="activeTab === 'Finance'">
          <div
            class="allWheelDrive"
            [ngClass]="{ active: activeTabOption === 'allWheelDrive' }"
            (click)="openTabOption('allWheelDrive')"
          >
            <p>All-Wheel Drive</p>
            <p>$1080 /mo</p>
          </div>
          <div
            class="plaid"
            [ngClass]="{ active: activeTabOption === 'plaid' }"
            (click)="openTabOption('plaid')"
          >
            <p>Plaid</p>
            <p>$1,581 /mo</p>
          </div>
        </div>
        <div class="gasSavingCheck">
          <input type="checkbox" name="gasSaving" id="gasSaving" /><label
            for="gasSaving"
            >Include est. 5-year gas savings of $6,500</label
          >
        </div>
        <div class="textColors">
          <p>Included</p>
          <span class="colorName">Stealth Grey</span>
        </div>
        <div class="colors">
          <img
            class="sStealthGrey"
            src="https://digitalassets.tesla.com/co1n/image/upload/f_auto,q_auto/prod/static_assets/MODEL3_/UI/Paint_StealthGrey.png?"
            alt=""
            width="36px"
            (click)="paintCar(sStealthGrey)"
            style="cursor: pointer"
          />
          <img
            class="sPearlWhiteMultiCoat"
            src="https://digitalassets.tesla.com/co1n/image/upload/f_auto,q_auto/prod/static_assets/MODEL3/UI/Paint_White.png?"
            alt=""
            width="36px"
            (click)="paintCar(sPearlWhiteMultiCoat)"
            style="cursor: pointer"
          />
          <img
            class="sDeepBlueMetallic"
            src="https://digitalassets.tesla.com/co1n/image/upload/f_auto,q_auto/prod/static_assets/MODEL3/UI/Paint_Blue.png?"
            alt=""
            width="36px"
            (click)="paintCar(sDeepBlueMetallic)"
            style="cursor: pointer"
          />
        </div>
      </aside>
    </div>
  </div>
  <div class="footerPrice"></div>
</section>
