/* Para que la sección ocupe toda la altura de la pantalla */
section {
  display: flex;
  align-items: center;
}

.mainContentAside {
  margin-top: -30px;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.carousel-container {
  width: calc(100% - 25%); /* Resta el ancho del aside */
  height: 100%; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.carousel-item {
  min-width: 100%;
  display: none;
  height: 100%; 
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  width: 100%;
  max-width: 100%; 
  height: auto; 
}

/* Flechas de navegación */
.carousel-control {
  opacity: 0; 
  visibility: hidden; /* Evita que los controles sean seleccionables cuando están ocultos */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Suaviza la transición */
}

.carousel-control.show {
  opacity: 1;
  visibility: visible; /* Mostrar controles cuando están activos */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(151, 149, 149, 0.315);
  color: rgb(49, 48, 48);
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  z-index: 1;
}

.carousel-item.ng-leave, .carousel-item.ng-leave-active {
  opacity: 0;
}

.carousel-item.ng-enter, .carousel-item.ng-enter-active {
  opacity: 1;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

/* Aside para los colores */
.scrollContent {
  display: grid;
  width: 25%; /* Ocupa el 25% del ancho */
  height: 100%;
  align-items: center;
  overflow-y: auto; /* Permitir scroll vertical */
  box-sizing: border-box;
  -ms-overflow-style: none; /* Ocultar barra de scroll en IE y Edge */
  scrollbar-width: none; /* Ocultar barra de scroll en Firefox */
}

.scrollContent::-webkit-scrollbar {
  display: none; /* Ocultar barra de scroll en Chrome, Safari y Opera */
}

.model {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 50px;
}

.model h1 {
  font-size: 40px;
}

.infoModel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.infoModel h3{
  font-size: 18px;
  color: #393c41;
  font-weight: 700;
  margin-bottom: -6px;
}

.infoModel p{
  font-size: 15px;
  color: #393c41;
  font-weight: 500;
}

/* Tab */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.buttonTab {
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  transition: border-bottom 0.3s ease;
  background: transparent;
  border-bottom: 1px solid rgb(44, 43, 43);
}

.buttonTab.active {
  border-bottom: 2.5px solid rgb(44, 43, 43); 
}

.allWheelDrive, .plaid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  border: 1px solid #49494b50;
  margin-right: 70px;
  margin-left: 70px;
  cursor: pointer;
  border-radius: 5px;
}

.allWheelDrive p, .plaid p {
  font-size: 13px;
  margin: 0;
  padding-left: 10px;
  color: #5c5e62
}

.allWheelDrive.active {
  background-color: #dfdfdf83;
  font-weight: 600;
}

.plaid.active {
  background-color: #dfdfdf83;
}

.gasSavingCheck {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-top: 7px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.gasSavingCheck label {
  align-items: center;
  font-size: 14px;
  color: #5c5e62;
  margin-left: 5px;
}

.textColors {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 20px;
}

.textColors p{
  font-size: 15px;
  color: #5c5e62;
}

.colorName {
  font-size: 20px;
}

/* Estilos para los colores */
.colors {
  display: flex;
  flex-wrap: nowrap;
  gap: 13px; 
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0; /* Mantener el footer pegado a la parte inferior de la pantalla */
  width: 100%; 
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white; 
  z-index: 1000; 
}

.priceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Asegura que haya un espacio flexible entre los elementos */
  padding: 10px 25px;
  margin-right: 45px;
  gap: 100px; 
  box-shadow: 0 -2px 8px 0 #cdcecf;
  border-radius: 5px;
}

.priceOrder button {
  padding: 13px 27px;
  font-size: 14px;
  font-weight: 700;
  background-color: #3e6ae1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount svg{
  margin-left: 5px;
}

.priceContainer p {
  font-size: 12.5px;
  color: #5c5e62;
}

.prices span {
  font-size: 21px;
}

.buttonMsg button{
  width: 56px;
  height: 48px;
  margin-left: 25px;
  border: none;
  border-radius: 5px;
  animation: changeBackgroundColor 7s infinite;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #dee4ebcb;
  }
  50% {
    background-color: #3f3c3ce0;
  }
  100% {
    background-color: #dee4ebcb;
  }
}