<header>
  <div class="logo-header">
    <a [routerLink]="'/home'">
      <svg
        class="tds-icon tds-icon-logo-wordmark tds-site-logo-icon"
        viewBox="0 0 342 35"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="currentColor"
          d="M0 .1a9.7 9.7 0 0 0 7 7h11l.5.1v27.6h6.8V7.3L26 7h11a9.8 9.8 0 0 0 7-7H0zm238.6 0h-6.8v34.8H263a9.7 9.7 0 0 0 6-6.8h-30.3V0zm-52.3 6.8c3.6-1 6.6-3.8 7.4-6.9l-38.1.1v20.6h31.1v7.2h-24.4a13.6 13.6 0 0 0-8.7 7h39.9v-21h-31.2v-7zm116.2 28h6.7v-14h24.6v14h6.7v-21h-38zM85.3 7h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7m0 13.8h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7m0 14.1h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7M308.5 7h26a9.6 9.6 0 0 0 7-7h-40a9.6 9.6 0 0 0 7 7"
        ></path>
      </svg>
    </a>
  </div>
</header>
<section>
  <div class="container">
    <div class="mainContentAside">
      <div
        class="carousel-container"
        (mouseover)="showControls(true)"
        (mouseleave)="showControls(false)"
      >
        <div class="carousel">
          <div
            class="carousel-item"
            *ngFor="let slide of isVideo ? video : slides; let i = index"
            [class.active]="i === currentSlide"
          >
            <ng-container *ngIf="isVideo; else imageSlide">
              <video [src]="slide.src" controls autoplay class="d-block w-100" width="100%">
                Your browser does not support the video tag.
              </video>
            </ng-container>
            <ng-template #imageSlide>
              <img
                [src]="slide.src"
                alt="{{ slide.title }}"
                class="d-block w-100"
              />
            </ng-template>
          </div>
          <button
            class="carousel-control prev"
            (click)="prevSlide()"
            [ngClass]="{ show: isControlShow }"
          >
            &#10094;
          </button>
          <button
            class="carousel-control next"
            (click)="nextSlide()"
            [ngClass]="{ show: isControlShow }"
          >
            &#10095;
          </button>
        </div>
      </div>
      <aside class="scrollContent" #scrollableAside>
        <div class="model">
          <h1>Model S</h1>
          <div class="infoModel">
            <div class="range">
              <h3>402mi</h3>
              <p>Range (EPA est.)</p>
            </div>
            <div class="topSpeed">
              <h3>130mph</h3>
              <p>Top Speed</p>
            </div>
            <div class="mph">
              <h3>3.1sc</h3>
              <p>0-60mph</p>
            </div>
          </div>
        </div>
        <div class="tabs">
          <button
            class="buttonTab"
            [ngClass]="{ active: activeTab === 'Cash' }"
            (click)="openTab('Cash')"
          >
            Cash
          </button>
          <button
            class="buttonTab"
            [ngClass]="{ active: activeTab === 'Lease' }"
            (click)="openTab('Lease')"
          >
            Lease
          </button>
          <button
            class="buttonTab"
            [ngClass]="{ active: activeTab === 'Finance' }"
            (click)="openTab('Finance')"
          >
            Finance
          </button>
        </div>
        <div id="cash" class="tab" *ngIf="activeTab === 'Cash'">
          <div
            class="allWheelDrive"
            [ngClass]="{ active: activeTabOption === 'allWheelDrive' }"
            (click)="openTabOption('allWheelDrive')"
          >
            <p>All-Wheel Drive</p>
            <p>$68,490</p>
          </div>
          <div
            class="plaid"
            [ngClass]="{ active: activeTabOption === 'plaid' }"
            (click)="openTabOption('plaid')"
          >
            <p>Plaid</p>
            <p>$83,490</p>
          </div>
        </div>
        <div id="lease" class="tab" *ngIf="activeTab === 'Lease'">
          <div
            class="allWheelDrive"
            [ngClass]="{ active: activeTabOption === 'allWheelDrive' }"
            (click)="openTabOption('allWheelDrive')"
          >
            <p>All-Wheel Drive</p>
            <p>$891 /mo</p>
          </div>
          <div
            class="plaid"
            [ngClass]="{ active: activeTabOption === 'plaid' }"
            (click)="openTabOption('plaid')"
          >
            <p>Plaid</p>
            <p>$1,041 /mo</p>
          </div>
        </div>
        <div id="finance" class="tab" *ngIf="activeTab === 'Finance'">
          <div
            class="allWheelDrive"
            [ngClass]="{ active: activeTabOption === 'allWheelDrive' }"
            (click)="openTabOption('allWheelDrive')"
          >
            <p>All-Wheel Drive</p>
            <p>$1070 /mo</p>
          </div>
          <div
            class="plaid"
            [ngClass]="{ active: activeTabOption === 'plaid' }"
            (click)="openTabOption('plaid')"
          >
            <p>Plaid</p>
            <p>$1,314 /mo</p>
          </div>
        </div>
        <div class="gasSavingCheck">
          <input
            type="checkbox"
            name="gasSaving"
            checked="checked"
            [(ngModel)]="gasSavingChecked"
            (ngModelChange)="toggleGasSaving()"
          />
          <label for="gasSaving"
            >Include est. 5-year gas savings of $6,500</label
          >
        </div>
        <div class="textColors">
          <p #colorsPrice>Included</p>
          <span class="colorName" #colorsName>Stealth Grey</span>
        </div>
        <div class="colors">
          <img
            class="sStealthGrey"
            src="https://digitalassets.tesla.com/co1n/image/upload/f_auto,q_auto/prod/static_assets/MODEL3_/UI/Paint_StealthGrey.png?"
            alt=""
            width="36px"
            (click)="paintCar(sStealthGrey, 'sStealthGrey')"
            style="cursor: pointer"
          />
          <img
            class="sPearlWhiteMultiCoat"
            src="https://digitalassets.tesla.com/co1n/image/upload/f_auto,q_auto/prod/static_assets/MODEL3/UI/Paint_White.png?"
            alt=""
            width="36px"
            (click)="paintCar(sPearlWhiteMultiCoat, 'sPearlWhiteMultiCoat')"
            style="cursor: pointer"
          />
          <img
            class="sDeepBlueMetallic"
            src="https://digitalassets.tesla.com/co1n/image/upload/f_auto,q_auto/prod/static_assets/MODEL3/UI/Paint_Blue.png?"
            alt=""
            width="36px"
            (click)="paintCar(sDeepBlueMetallic, 'sDeepBlueMetallic')"
            style="cursor: pointer"
          />
          <img
            class="sSolidBlack"
            src="https://digitalassets.tesla.com/co1n/image/upload/f_auto,q_auto/prod/static_assets/MODEL3/UI/Paint_Black.png?"
            alt=""
            width="36px"
            (click)="paintCar(sSolidBlack, 'sSolidBlack')"
            style="cursor: pointer"
          />
          <img
            class="sUltraRed"
            src="https://digitalassets.tesla.com/co1n/image/upload/f_auto,q_auto/prod/static_assets/MODELS/UI/Red_Paint_R2.png?"
            alt=""
            width="36px"
            (click)="paintCar(sUltraRed, 'sUltraRed')"
            style="cursor: pointer"
          />
          <img
            class="sLunarSilver"
            src="https://digitalassets.tesla.com/co1n/image/upload/f_auto,q_auto/prod/static_assets/MODELS/UI/LSilverPaint.png?"
            alt=""
            width="36px"
            (click)="paintCar(sLunarSilver, 'sLunarSilver')"
            style="cursor: pointer"
          />
        </div>
        <div class="selfDrive">
          <div class="fullSelf">
            <h3>Full Self-Driving (Supervised)</h3>
            <p class="p1">
              Your car will be able to drive itself almost anywhere with minimal
              driver intervention
            </p>
            <div class="driveOption">
              <input
                type="checkbox"
                name="driveOpt"
                [(ngModel)]="autoFullDriveChecked"
                (ngModelChange)="toggleFullDriveOption()"
              />
              <div class="spanDrive">
                <span>Full Self-Driving</span>
                <span>$8,000</span>
              </div>
            </div>
            <p>Full Self-Driving (Supervised) for the life of the vehicle</p>
            <button>Whatch a Video</button>
            <p>
              Currently enabled features require active driver supervision and
              do not make the vehicle autonomous. The activation and use of
              these features are dependent on development and regulatory
              approval, which may take longer in some jurisdictions.
            </p>
          </div>
          <div class="driveAnywhere">
            <h3>Drive Anywhere Package</h3>
            <p class="p1">
              Includes Free Supercharging, Premium Connectivity & Full
              Self-Driving (Supervised) for 3 Years
            </p>
            <div class="driveOption">
              <input
                type="checkbox"
                name="driveOpt"
                [(ngModel)]="autoDriveChecked"
                (ngModelChange)="toggleDriveOption()"
              />
              <div class="spanDrive">
                <span>Drive Anywhere</span>
                <span>$5,000</span>
              </div>
            </div>
            <p>
              Price reduced to $2,000 with purchase of Full Self-Driving
              (Supervised) for the life of the vehicle. Terms and conditions
              apply. Vehicles for commercial use not eligible.
            </p>
            <button>Learn More</button>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
<footer>
  <div class="buttonMsg">
    <button>
      <img
        src="../assets/images/chat-bubble.png"
        alt=""
        width="20px"
        height="20px"
      />
    </button>
  </div>
  <div class="priceContainer">
    <div class="prices">
      <div class="amount">
        <span #priceRef>{{ finalPrice | currency : "USD" }}</span>
        <svg
          class="tds-icon tds-icon--inline tds-icon-chevron-180"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          width="24px"
          height="24px"
        >
          <path
            fill="currentColor"
            d="m4.22 8.943 7.232 7.213a.75.75 0 0 0 1.06 0l7.268-7.25a.75.75 0 0 0-1.06-1.062l-6.739 6.721L5.28 7.881a.75.75 0 0 0-1.06 1.062"
          ></path>
        </svg>
      </div>
      <div>
        <p>after est. savings</p>
      </div>
    </div>
    <div class="priceOrder">
      <button>Order Now</button>
    </div>
  </div>
</footer>
