section {
    height: 90vh; /* Altura 100% del viewport */
    width: 100%; /* Ancho 100% */
    display: grid;
}

/*Seccion uno imagen de fondo para que quede abajo del menu*/
.sectionOne {
    position: relative;
    background-image: url('/assets/images/Homepage-Model-Y-Desktop-US-v2.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ocupar toda la ventana visible */
    width: 100%;
    z-index: 0; /* Asegura que esté debajo del menú pero sobre las otras secciones */
    margin-top: -60px; /* Ajusta para que comience debajo del menú */
}

.info {
    margin-top: 5vh;
    text-align: center;
    color: white; 
}
  

h2 {
    font-size: 60px;
    margin-bottom: -25px;
}
  
h3 {
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: -20px;
}

h4 {
    font-size: 17px;
}

.secBttns {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    justify-content: center;
    padding-block-end: 32px;
}

.buttonOrderNow, .buttonDemoDrive {
    padding: 13px 100px;
    border-radius: 5px;
    border-style: none;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.buttonOrderNow {
    background-color: #3e6ae1;
    color: #fff;
}

.buttonDemoDrive {
    background-color: #ffffff;
    color: #393c41;
}

/*Imagenes de fondo de las demas secciones*/

.sectionTwo {
    background-image: url('/assets/images/Homepage-Model-3-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionThree {
    background-image: url('/assets/images/Homepage-Model-X-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionFour {
    background-image: url('/assets/images/Homepage-Model-S-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionFive {
    background-image: url('/assets/images/Homepage-Cybertruck-Desktop-v3.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionSix{
    background-image: url('/assets/images/Homepage-SolarPanels-01-Desktop.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionSeven {
    background-image: url('/assets/images/Homepage-SolarRoof-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionEight {
    background-image: url('/assets/images/Homepage-Powerwall-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionNine {
    background-image: url('/assets/images/Homepage-Accessories-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}