section {
    height: 94vh; /* Altura 100% del viewport */
    width: 100%; /* Ancho 100% */
    display: grid;
}

/*Seccion uno imagen de fondo para que quede abajo del menu*/
.sectionOne .secImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Abarca el 100% del ancho */
    height: 100vh; /* Abarca el 100% del alto */
    object-fit: cover; /* Imagen de fondo que ocupa todo el espacio */
    z-index: -1; /* Para que la imagen quede debajo del menú */
}

.infoSectionOne{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white; 
    margin-top: -250px;
}

.info {
    text-align: center;
    color: white; 
}
  

h2 {
    font-size: 60px;
    margin-bottom: -25px;
}
  
h3 {
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: -20px;
}

h4 {
    font-size: 17px;
}

.secBttns {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    justify-content: center;
    padding-block-end: 32px;
}

button {
    width: 275px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    font-weight: 700;
}

.orderNow {
    background-color: #3e6ae1;
    color: #fff;
}

.demoDrive {
    background-color: #ffffff;
    color: #393c41;
}

/*Imagenes de fondo de las demas secciones*/

.sectionTwo {
    background-image: url('/assets/images/Homepage-Model-3-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 96vh;
    width: 100%;
}

.sectionThree {
    background-image: url('/assets/images/Homepage-Model-X-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionFour {
    background-image: url('/assets/images/Homepage-Model-S-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionFive {
    background-image: url('/assets/images/Homepage-Cybertruck-Desktop-v3.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionSix{
    background-image: url('/assets/images/Homepage-SolarPanels-01-Desktop.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionSeven {
    background-image: url('/assets/images/Homepage-SolarRoof-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionEight {
    background-image: url('/assets/images/Homepage-Powerwall-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.sectionNine {
    background-image: url('/assets/images/Homepage-Accessories-Desktop-US.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}