<section class="sectionOne">
    <div class="info">
      <h2>Model Y</h2>
      <h3>1.99% APR Financing</h3>
      <h4>From $31,490</h4>
    </div>
    <div class="secBttns">
      <a class="buttonOrderNow" [routerLink]="'/design'">Order Now</a>
      <a class="buttonDemoDrive">Demo Drive</a>
    </div>
</section>

<section class="sectionTwo">
  <div class="info">
    <h2>Model 3</h2>
    <h3>1.99% APR Financing</h3>
    <h4>From $34,990</h4>
  </div>
  <div class="secBttns">
    <a class="buttonOrderNow" [routerLink]="'/design'">Order Now</a>
    <a class="buttonDemoDrive">Demo Drive</a>
  </div>
</section>

<section class="sectionThree">
  <div class="info">
    <h2>Model X</h2>
    <h3>From $65,990</h3>
    <h4 style="text-decoration: underline">
      After Federal Tax Credit $7,500 <br />
      and Est. Gas Savings $6,500
    </h4>
  </div>
  <div class="secBttns">
    <a class="buttonOrderNow" [routerLink]="'/design'">Order Now</a>
    <a class="buttonDemoDrive">Demo Drive</a>
  </div>
</section>

<section class="sectionFour">
  <div class="info">
    <h2>Model S</h2>
    <h3>1.99% APR Financing</h3>
    <h4>From $31,490</h4>
  </div>
  <div class="secBttns">
    <a class="buttonOrderNow" [routerLink]="'/design'">Order Now</a>
    <a class="buttonDemoDrive">Demo Drive</a>
  </div>
</section>

<section class="sectionFive">
  <div class="info">
    <h2>CYBERPUNK</h2>
  </div>
  <div class="secBttns">
    <a class="buttonOrderNow" [routerLink]="'/design'">Order Now</a>
    <a class="buttonDemoDrive">Demo Drive</a>
  </div>
</section>

<section class="sectionSix">
  <div class="info">
    <h2>Solar Panels</h2>
    <h3>Schedule a Virtual Consultation</h3>
  </div>
  <div class="secBttns">
    <a class="buttonOrderNow" [routerLink]="'/design'">Order Now</a>
    <a class="buttonDemoDrive">Demo Drive</a>
  </div>
</section>

<section class="sectionSeven">
  <div class="info">
    <h2>Solar Roof</h2>
    <h3>Produce Clean Energy From Your Roof</h3>
  </div>
  <div class="secBttns">
    <a class="buttonOrderNow" [routerLink]="'/design'">Order Now</a>
    <a class="buttonDemoDrive">Demo Drive</a>
  </div>
</section>

<section class="sectionEight">
  <div class="info">
    <h2>Powerwall</h2>
  </div>
  <div class="secBttns">
    <a class="buttonOrderNow" [routerLink]="'/design'">Order Now</a>
    <a class="buttonDemoDrive">Demo Drive</a>
  </div>
</section>

<section class="sectionNine">
  <div class="info">
    <h2>Accesories</h2>
  </div>
  <div class="secBttns">
    <a class="buttonOrderNow" [routerLink]="'/design'">Order Now</a>
  </div>
</section>
